<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CommunityWrite</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/communitywrite.css}"/>
    <script type="text/javascript" th:src="@{/js/communitywritebtclick.js}"></script>
    <!--  폰트  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <!-- body 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <header th:replace="~{/common/header :: headerFragment}">
    </header>

    <form action="/hanuldure/add" method="post" onsubmit="return stopForm()">
        <section id="cmwrite">
            <h2>농뮤니티 글 등록</h2>
            <hr class="titlehr">
            <div id="cmtitlediv">
                <input id="cmtitle" name="boardTitle" type="text" placeholder=" 농뮤니티 제목을 입력하세요. ">
            </div>
            <hr>
            <section id="cmtype">
                <article id="writername"><p>작성자 닉네임</p></article>
                <article id="adddate"><p th:text="'등록일 : ' + ${today}"></p></article>
                <article id="freewritebt"><button id="freewrite" class="buttonNormal" onclick="toggleButton('freewrite', 'recruitment', event)">자유글</button></article>
                <article id="recruitmentbt"><button id="recruitment" class="buttonNormal" onclick="toggleButton('recruitment', 'freewrite', event)">모집글</button></article>
                <!-- F또는 R을 저장하기 위한 숨겨진 인풋-->
                <input type="hidden" id="boardType" name="boardType" value="">

            </section>
            <div id="writeinfodiv">
                <textarea id="writeinfo" name="boardContent" placeholder="적을 내용을 입력해주세요."></textarea>
            </div>
            <section id="cmbt">
                <button id="cmcanclebt" type="button" onclick="cancelAndRedirect()">취소</button>
                <article><button id="cmaddbt" type="submit">작성</button></article>
            </section>
        </section>
    </form>
</body>
</html>