<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CommunityWrite</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/communitywrite.css}"/>
    <script type="text/javascript" th:src="@{/js/communitywritebtclick.js}"></script>
</head>
<body>
    <header>
        <div>
            <img id="hanuldureimg" src="/image/img.png">
            <h1 id="hanulduretext">한울두레</h1>
            <button id="mainbt">Main</button>
        </div>
    </header>
    <hr>

    <section id="cmwrite">
        <h2>농뮤니티 글 등록</h2>
        <hr>
        <div id="cmtitlediv">
            <input id="cmtitle" type="text" placeholder=" 농뮤니티 제목을 입력하세요. ">
        </div>
        <hr>
        <section id="cmtype">
            <article id="writername"><p>작성자 닉네임</p></article>
            <article id="adddate"><p th:text="'등록일 : ' + ${today}"></p></article>
            <article id="freewritebt"><button class="buttonNormal" onclick="toggleButton(this)">자유글</button></article>
            <article id="recruitmentbt"><button class="buttonNormal" onclick="toggleButton(this)">모집글</button></article>
        </section>
        <div id="writeinfodiv">
            <textarea id="writeinfo" placeholder="적을 내용을 입력해주세요."></textarea>
        </div>
        <section id="cmbt">
            <article><button id="cmcanclebt">취소</button></article>
            <article><button id="cmaddbt" type="submit">작성</button></article>
        </section>
    </section>



    <h2>CommunityWrite 페이지 테스트입니다.</h2>

</body>
</html>