<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>communitydetail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/communitydetail.css}"/>
    <script type="text/javascript" th:src="@{/js/communitydetailbtonoff.js}"></script>
    <!--  폰트  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <!-- body 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div>
            <img id="hanuldureimg" src="/image/img.png">
            <h1 id="hanulduretext" class="gugi-regular">한울두레</h1>
            <button id="mainbt" onclick="location.href='/hanuldure/community'">Main</button>

        </div>
    </header>
    <hr>

    <section id="cmdetail">
        <h2>농뮤니티</h2>
        <hr class="titlehr">
        <div id="cmdtitlediv">
            <p id="cmdtitle" th:text="${community.getBoardTitle}">농뮤니티 제목</p>
        </div>
        <hr>
        <section id="cmtype">
            <article id="writername"><p>작성자 닉네임</p></article>
            <article id="adddate"><p th:text="${community.getBoardWriteDate}">작성일</p></article>
            <article id="freewritebt"><button id="freeButton" class="buttonNormal">자유글</button></article>
            <article id="recruitmentbt"><button id="recruitButton" class="buttonNormal">모집글</button></article>
            <input type="hidden" id="boardType" name="board_type" th:value="${community.getBoardType}">
        </section>
        <div id="writeinfodiv">
            <div id="writeinfodiv2">
                <p th:text="${community.getBoardContent}"></p>
            </div>
        </div>
        <div id="detailbt">
            <button id="modifybt" th:attr="data-boardseq=${community.getBoardSeq}" onclick="modifyComment(this)">수정</button>
<!--            <button id="modifybt">수정</button>-->
            <form action="/hanuldure/community/delete" method="post">
                <input type="hidden" name="board_seq" th:value="${community.getBoardSeq}">
                <button id="remotebt">삭제</button>
            </form>
        </div>
    </section>


    <!-- 밑으로 댓글 기능 -->




    <section id="cmdetail2">
<!--        <h1>댓글</h1>-->
<!--        <hr>-->
<!--        &lt;!&ndash; 대충 댓글 구조 &ndash;&gt;-->
<!--        <section id="cmdcomment">-->
<!--            <div class="content-group">-->
<!--                <article><img src="" alt="작성자 프로필"></article>-->
<!--                <article id="writename"><p>작성자 닉네임</p></article>-->
<!--            </div>-->
<!--            <article><p>글 내용 글 내용</p></article>-->
<!--            <div class="button-group">-->
<!--                <article><button id="commentmodifybt">수정</button></article>-->
<!--                <article><button id="commentdeletebt">삭제</button></article>-->
<!--            </div>-->

<!--        </section>-->
<!--        <div id="commitboxdiv">-->
<!--            <input id="commitbox" type="text" placeholder="댓글을 작성하세요.">-->
<!--            <button id="commitbt">작성</button>-->
<!--        </div>-->
        <button id="gowordlist" onclick="location.href='/hanuldure/community'">글 목록</button>
    </section>
</body>
</html>