<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/firstpage.css}"/>
</head>
<body>
<div class="mainheader">
    <div id="logo">
        <img id="logoimg" src="/image/logo.png"/> 하울두레
    </div>
    <button id="loginbutton">로그인</button>
    <p id="centerText1">'한울두레'</p>
    <p id="centerText2">진실하고 가득한 우리 농촌 터전</p>
</div>
<div class="mainranking">
    <label id="label1">체험모집</label>
    <br>
    <label id="label2">인기체험 TOP3</label>
    <button id="mainbutton">전체 글 보기</button>
    <div id="ranking">
        <div id="rankingbox">
            <div id="name">##체험이름</div>
            <hr>
            <img id="rankingimg" src="/image/eximage.png"/>
            <div id="locate">##체험지역</div>
            <div id="price">가격##원</div>
            <div id="count">최소인원: ## 명</div>
            <div id="count">최대인원: ## 명</div>
            <button id="detailbutton">상세보기</button>
        </div>
        <div id="rankingbox">
            <div id="name">##체험이름</div>
            <hr>
            <img id="rankingimg" src="/image/eximage.png"/>
            <div id="locate">##체험지역</div>
            <div id="price">가격##원</div>
            <div id="count">최소인원: ## 명</div>
            <div id="count">최대인원: ## 명</div>
            <button id="detailbutton">상세보기</button>
        </div>
        <div id="rankingbox">
            <div id="name">##체험이름</div>
            <hr>
            <img id="rankingimg" src="/image/eximage.png"/>
            <div id="locate">##체험지역</div>
            <div id="price">가격##원</div>
            <div id="count">최소인원: ## 명</div>
            <div id="count">최대인원: ## 명</div>
            <button id="detailbutton">상세보기</button>
        </div>
    </div>
</div>
</body>
</html>