<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
<div class="content">
    <div id="content">
        <div id="textgroup1">
            <label id ="text1">안녕하세요! </label>
            <label id= "text2">한울두레</label>
        </div>
        <div id="text3">로그인</div>
        <div id="text4">아이디</div>
        <input id="idTextBox" type="textbox" placeholder="아이디를 입력해주세요"/>
        <div id="text4">비밀번호</div>
        <input id="pwdTextBox" type="textbox" placeholder="비밀번호를 입력해주세요"/>
        <div id="textgrop2">
            <label id="text5">아이디 찾기</label>
            <label id="text5">비밀번호 찾기</label>
            <label id="text5">회원가입 하기</label>
        </div>
        <button id ="button">로그인하기</button>
    </div>
</div>

</body>
</html>