<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>농업인 프로필</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jua&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/farmerprofile.css">

</head>

<header>
    <div class="logo">
        <img src="/img/logo.png" alt="한울두레">
        한울두레
    </div>
    <nav>
        <a href="/community" class="main-btn">Main</a>
    </nav>
</header>

<main>
    <div class="profile-info">
        <div class="profile-pic">
            <img src="/img/user_image.png" alt="농업인 사진">
        </div>
        <div class="details">
            <p class="user-name"><span th:text="${farmerprofile.userName}"></span></p>
            <p class="user-phone"><strong>전화번호:</strong> <span th:text="${farmerprofile.userPhone}" style="color: gray";></span></p>
            <p class="user-region"><strong>지역:</strong> <span th:text="${farmerprofile.userRegion}" style="color: gray";></span></p>
            <p class="user-intro"><strong>소개글:</strong>  <span th:text="${farmerprofile.userIntro}" style="color: gray";></span><span ></span><span> </span><a href="#" class="edit-btn">소개글 수정</a></p>

        </div>
    </div>
    <hr>
    <div class="events" th:if="${expInfo != null}" >
        <div th:each="exp : ${expInfo}" class="event">
            <div class="exp-img">
                <img src="/img/exp1.png" alt="행사 사진">
            </div>
            <div class="green-box">
                <p><span class="exp-title" th:text="${exp.expTitle}"></span> <!--</span> <span class="exp-status" >글글글글글글</span></p>-->

                <p class="exp-content" th:text="${exp.expContent}"><span >글글글글글글</span></p>

                <p class="exp-status2"><span th:text="${exp.expStatus}" th:classappend="${exp.expStatus == '종료됨'} ? 'grey-text' : ''">진행중</span></p>

                <p class="exp-participants">모집 <span >0</span>명</p>
            </div>
        </div>
    </div>

</main>
</body>
</html>
