<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ErrorPage</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/errorpage.css}"/>
    <!--  폰트  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <!-- body 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gugi&family=Jua&display=swap" rel="stylesheet">
</head>
<body>
    <header th:replace="~{/common/header :: headerFragment}">
    </header>

    <div id="container">
        <p id="deletetext">없는 페이지입니다. 메인으로 돌아가주세요.</p>
    </div>
    <div id="errorimgdiv">
        <img src="/image/errorimg.png">
        <!--<a href="https://kr.lovepik.com/images/png-the-farmer.html">농민 Png vectors by Lovepik.com</a>-->
    </div>


</body>
</html>