body{
    margin:0;
    font-family: "Jua", sans-serif;
}

#centerText{
    text-align: center;
}

.mainheader{
    padding:2%;
    background-image: url("../image/mainbackground.png");
    background-size: cover;
    color:white;
    height: 80vmin;
}

#logo{
    display: inline;
    font-size: 220%;
}

#loginbutton{
    float:right;
    font-size:150%;
    background-color: green;
    color:white;
    border-radius:30px;
}

.mainheader>#centerText1{
    text-align: center;
    font-size: 300%;
    margin-top:10%;
    margin-bottom: 5%;

}

.mainheader>#centerText2{
    text-align: center;
    font-size: 160%;
    margin-top:5%;
    margin-bottom: 5%;
}

.mainranking{
    padding-right:2%;
    padding-left:2%;
}

#label1{
    font-size:130%;
    color: green;
}

#label2{
    font-size:120%;
    color:orange;
}

#mainbutton {
    float: right;
    font-size: 150%;
    background-color: green;
    color: white;
    font-family: "Jua", sans-serif;
    border-radius: 30px;
}

#ranking{
    text-align: center;
}

#rankingbox1,#rankingbox2,#rankingbox3{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    height: 400px;
    width: 350px;
    margin-left: 5%;
    border-radius:20px;
}

#name1,#name2,#name3{
    font-size:115%;

}

#rankingimg1,#rankingimg2,#rankingimg3{
    width: 50%;
    height: 50%;
}

#locate1,#locate2,#locate3{
    font-size:90%;
    color:brown;
    margin-bottom: 5px;
}

#price1,#price2,#price3{
    font-size:115%;
    color:green;
    margin-bottom: 5px;
}

#count1,#count11,#count2,#count22,#count3,#count33{
    font-size:80%;
}

#detailbutton1, #detailbutton2, #detailbutton3 {
    margin-top: 20px;
    font-size: 150%;
    background-color: green;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    font-family: "Jua", sans-serif;
    border-radius: 20px;
}
