body{
    margin:0;
    font-family: "Jua", sans-serif;
}

#centerText{
    text-align: center;
}

.mainheader{
    position: relative;
    color: white;
    height: 80vmin;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

.mainheader .background-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/mainbackground.png");
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
}

#logo{
    font-family: "Gugi", sans-serif;
    display: flex;
    font-size: 220%;
}

#loginbutton1,#loginbutton2,#loginbutton3,#loginbutton4{
    border: none;
    float:right;
    font-size:130%;
    background-color: #008000;
    color:white;
    border-radius:30px;
    font-family: "Jua", sans-serif;
    width: 150px;
    height: 30px;
    margin-left: 10px;
}

#loginbutton1:hover,#loginbutton2:hover,#loginbutton3:hover,#loginbutton4:hover{
    background: #629b6c;
}

.mainheader>#centerText1{
    text-align: center;
    font-size: 300%;
    margin-top:10%;
    margin-bottom: 5%;

}

.mainheader>#centerText2{
    text-align: center;
    font-size: 160%;
    margin-top:5%;
    margin-bottom: 5%;
}

.mainranking{
    padding-right:2%;
    padding-left:2%;
}

.mainrankingheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#label1{
    font-size:130%;
    color: green;
    margin: 10px;
    margin-left: 20px;
}

#label2{
    font-size:120%;
    color:orange;
    margin: 5px;
    margin-left: 20px;
}

#mainbutton {
    border: none;
    float:right;
    font-size:130%;
    background-color: #008000;
    color:white;
    border-radius:30px;
    font-family: "Jua", sans-serif;
    width: 150px;
    height: 30px;
    margin-left: 10px;
}

#mainbutton:hover{
    background: #629b6c;
}

#ranking{
    text-align: center;
}

#rankingbox1,#rankingbox2,#rankingbox3{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    height: 400px;
    width: 350px;
    margin-left: 5%;
    border-radius:20px;
}

#name1,#name2,#name3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:115%;
    margin-top: 1px;

}

#rankingimg1,#rankingimg2,#rankingimg3{
    width: 50%;
    height: 50%;
}

#locate1,#locate2,#locate3{
    font-size:90%;
    color:brown;
    margin-bottom: 5px;
}

#price1,#price2,#price3{
    font-size:115%;
    color:green;
    margin-bottom: 5px;
}

#count1,#count11,#count2,#count22,#count3,#count33{
    font-size:80%;
}

#detailbutton1, #detailbutton2, #detailbutton3 {
    border: none;
    margin-top: 20px;
    font-size: 130%;
    background-color: green;
    color: white;
    padding-left: 20%;
    padding-right: 20%;
    font-family: "Jua", sans-serif;
    border-radius: 20px;
}

.hrmargin{
    margin-top: 0px;
}
