<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/firstpage.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <script>
        // console.log(`[[${loginSession}]]`);
        console.log(`[[${session.userSeq}]]`);

    </script>
</head>
<body>
    <div class="mainheader">
        <div id="logo">
            <img id="logoimg" src="/image/logo.png"/> 한울두레
        </div>
            <button id="loginbutton1" onclick="location.href='/hanuldure/login'" th:if="${loginSession==null}">로그인</button>
            <button id="loginbutton2" onclick="location.href='/hanuldure/login'" th:if="${loginSession!=null}">마이페이지</button>
            <button id="loginbutton3" onclick="location.href='/hanuldure/login'" th:if="${loginSession!=null}">로그아웃</button>
            <p id="centerText1">'한울두레'</p>
        <p id="centerText2">진실하고 가득한 우리 농촌 터전</p>
    </div>
    <div class="mainranking">
        <label id="label1">체험모집</label>
        <br>
        <label id="label2">인기체험 TOP3</label>
        <button id="mainbutton" onclick="location.href='/community'">전체 글 보기</button>

        <div id="ranking">
            <div id="rankingbox1">
                <div id="name1" th:text="${Ranking1.expTitle}"></div>
                <hr>
                <img id="rankingimg1" th:src="${Ranking1.expImg}"/>
                <div id="locate1" th:text="${Ranking1.expAddr}"></div>
                <div id="price1" th:text="${Ranking1.expPrice}+'원'"></div>
                <div id="count1" th:text="'최소인원: '+${Ranking1.expMin}+'명'"></div>
                <div id="count11" th:text="'최대인원: '+${Ranking1.expMax}+'명'"></div>
                <button id="detailbutton1">상세보기</button>
            </div>

            <div id="rankingbox2">
                <div id="name2" th:text="${Ranking2.expTitle}"></div>
                <hr>
                <img id="rankingimg2" th:src="${Ranking2.expImg}"/>
                <div id="locate2" th:text="${Ranking2.expAddr}"></div>
                <div id="price2" th:text="${Ranking2.expPrice}+'원'"></div>
                <div id="count2" th:text="'최소인원: '+${Ranking2.expMin}+'명'"></div>
                <div id="count22" th:text="'최대인원: '+${Ranking2.expMax}+'명'"></div>
                <button id="detailbutton2">상세보기</button>
            </div>

            <div id="rankingbox3">
                <div id="name3" th:text="${Ranking3.expTitle}"></div>
                <hr>
                <img id="rankingimg3" th:src="${Ranking3.expImg}"/>
                <div id="locate3" th:text="${Ranking3.expAddr}"></div>
                <div id="price3" th:text="${Ranking3.expPrice}+'원'"></div>
                <div id="count3" th:text="'최소인원: '+${Ranking3.expMin}+'명'"></div>
                <div id="count33" th:text="'최대인원: '+${Ranking3.expMax}+'명'"></div>
                <button id="detailbutton3">상세보기</button>
            </div>

        </div>
    </div>
</body>
</html>