<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>
<body>
<form action="/hanuldure/login" method="post">
    <div class="content">
        <div id="content">

            <div id="textgroup1">
                <label id ="text1">안녕하세요! </label>
                <label id= "text2">한울두레</label>
            </div>
            <div id="text3">로그인</div>

            <div id="idtext">아이디</div>
            <p id="id">
                <input id="idTextBox" name="userId" type="textbox" placeholder="아이디를 입력해주세요"/>
            </p>

            <div id="pwdtext">비밀번호</div>
            <p id="pwd">
                <input id="pwdTextBox" name="userPassword" type="textbox" placeholder="비밀번호를 입력해주세요"/>
            </p>

            <div id="textgroup2">
                <label id="searchid" onclick="location.href='/hanuldure/searchid'">아이디 찾기</label>
                <label id="searchpwd" onclick="location.href='/hanuldure/searchpwd'">비밀번호 찾기</label>
                <label id="createmember" onclick="location.href='/hanuldure/createmember'">회원가입 하기</label>
            </div>

            <div id =buttonbox>
                <button id ="button" type="submit">로그인하기</button>
            </div>

        </div>
    </div>
</form>

</body>
</html>